{% extends 'dashboard/index.html' %}

{% block content %}
  {% load static %}

  {% if messages %}
    <div class="alert alert-info" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}

  <!DOCTYPE html>
  <html lang="pt-br">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <title>Cadastro do sistema</title>
    </head>
    <body>
      <div class="container my-3 text-center">
        <!-- Adicione a classe text-center para centralizar o texto -->
        <h2>Cadastro de Usuários</h2>
      </div>
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            {% if messages %}
              <div class="alert alert-info" role="alert">
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              </div>
            {% endif %}
            <form method="post" action="{% url 'cadastro' %}" class="text-start">
              {% csrf_token %}

              <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label>
                <input name="campo_nome" type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required />
              </div>

              <div class="mb-3">
                <label for="usuario" class="form-label">Usuário:</label>
                <input name="campo_login" type="text" class="form-control" id="usuario" name="usuario" placeholder="Digite seu usuário" required />
              </div>

              <div class="mb-3">
                <label for="senha" class="form-label">Senha:</label>
                <input name="campo_senha" type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha" required />
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input name="campo_email" type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required />
              </div>

              <div class="mb-3">
                <label for="label_cargo" class="form-label">Cargo:</label>
                <select name="campo_cargo" class="form-select">
                  <option value="1">Administrador</option>
                  <option value="0">Corretor</option>
                </select>
              </div>

              <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
          </div>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
  </html>
{% endblock %}
